:root {
  --primary-color: #273541;
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
  margin: 0px auto;
}
.wrapper {
  width: 1170px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
