:root {
  --primary-color: #273541;
  --secondary-color: #1545f4;
  --color-orange: #ff9902;
  --font-poppins: "Poppins", sans-serif;
  --font-dm-sans: "DM Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: var(--font-poppins);
  font-weight: 400;
}
body {
  overflow-x: hidden;
  margin: 0px auto;
}
.wrapper {
  width: 1050px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.flexrowreverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.buttonPrimary {
  font-size: 17px;
  font-weight: 700;
  font-family: var(--font-dm-sans);
  padding: 12px 42px;
  border-radius: 35px;
  color: white;
  background-color: var(--secondary-color);
  border-style: none;
}
.buttonSecondary {
  font-size: 17px;
  font-weight: 700;
  font-family: var(--font-dm-sans);
  padding: 12px 42px;
  border-radius: 35px;
  color: black;
  background-color: #737b7e;
  border-style: none;
}
button{
  cursor: pointer;
}