.AboutClients {
  padding: 100px 0px;
}
.ClientsContent {
  align-items: flex-start;
  width: calc(50%);
  padding-right: 100px;
  border-right: 1px solid #f3f3f3;
  gap: 20px;
}
.ClientsContent h2 {
  font-size: 76px;
  line-height: 76px;
  font-weight: 800;
  color: #1645f4;
}
.ClientsContent p {
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  color: #363d40;
  font-family: var(--font-dm-sans);
}
.ClientsContent button {
  padding: 20px 35px;
}
.clientCard {
  width: 330px;
  height: 110px;
  background-color: #f3f3f3;
  border-radius: 30px 0px 30px 30px;
  justify-content: flex-start;
}
.clientCard img {
  width: 70px;
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
.clientCard h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  color: #1645f4;
}
.clientCard p {
  font-family: var(--font-dm-sans);
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #363d40;
}
.clientUl {
  gap: 10px;
}
